In [1]:
# ref: SQLAlchemy makes ETL magically easy
# https://www.freecodecamp.org/news/sqlalchemy-makes-etl-magically-easy-ab2bd0df928/

In [2]:
import sqlalchemy
sqlalchemy.__version__

'1.4.15'

In [3]:
import pandas as pd

# Defining a schema
A database schema defines the structure of a database system, in terms of tables, columns, fields, and the relationships between them. Schemas can be defined in raw SQL, or through the use of SQLAlchemy’s ORM feature.

Below is an example showing how to define a schema of two tables for an imaginary blogging platform. One is a table of users, and the other is a table of posts uploaded.

Note:
Here Users.DOB is set to DateTime type, which should be Date instead. I define the DateTime type on purpose to inspect a phenomenon later: what happen if we feed in database with a "wrong" type?

In [4]:
from sqlalchemy import *
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import sessionmaker
from sqlalchemy.sql import *
from sqlalchemy.orm import relationship

engine = create_engine('sqlite://') #use sqlite in memory
Base = declarative_base()

class Users(Base):
    __tablename__ = "users"
    UserId = Column(Integer, primary_key=True)
    Title = Column(String)
    FirstName = Column(String)
    LastName = Column(String)
    Email = Column(String)
    Username = Column(String)
    DOB = Column(DateTime)

class Uploads(Base):
    __tablename__ = "uploads"
    UploadId = Column(Integer, primary_key=True)
    UserId = Column(Integer, ForeignKey('users.UserId'))
    Title = Column(String)
    Body = Column(String)
    Timestamp = Column(DateTime)    
#     user = relationship("Users", back_populates = "uploads")    
# relationships: https://www.tutorialspoint.com/sqlalchemy/sqlalchemy_orm_building_relationship.htm
# Users.uploads = relationship("Uploads", order_by = Uploads.UserId, back_populates = "users")


Users.__table__.create(bind=engine, checkfirst=True)
Uploads.__table__.create(bind=engine, checkfirst=True)

First, import everything you need from SQLAlchemy. Then, use create_engine(connection_string) to connect to your database. The exact connection string will depend on the version of SQL you are working with. This example uses a relative path to the SQLite database created earlier.

Next, start defining your table classes. The first one in the example is Users. Each column in this table is defined as a class variable using SQLAlchemy’s Column(type), where type is a data type (such as Integer, String, DateTime and so on). Use primary_key=True to denote columns which will be used as primary keys.

The next table defined here is Uploads. It’s very much the same idea — each column is defined as before.

The final two lines actually create the tables. The checkfirst=True parameter ensures that new tables are only created if they do not currently exist in the database.

In [5]:
Users.__table__

Table('users', MetaData(), Column('UserId', Integer(), table=<users>, primary_key=True, nullable=False), Column('Title', String(), table=<users>), Column('FirstName', String(), table=<users>), Column('LastName', String(), table=<users>), Column('Email', String(), table=<users>), Column('Username', String(), table=<users>), Column('DOB', DateTime(), table=<users>), schema=None)

In [6]:
Uploads.__table__

Table('uploads', MetaData(), Column('UploadId', Integer(), table=<uploads>, primary_key=True, nullable=False), Column('UserId', Integer(), ForeignKey('users.UserId'), table=<uploads>), Column('Title', String(), table=<uploads>), Column('Body', String(), table=<uploads>), Column('Timestamp', DateTime(), table=<uploads>), schema=None)

# Reflect the schema
Here we would like to check if the schema is successively created in the database. In order to reflect a database, instead of using the declarative_base we’ve been using with the ORM so far, we’re going to use the automap_base.

Or, just query the database (sql methods)

In [7]:
from sqlalchemy.ext.automap import automap_base

Base_reflect = automap_base()
Base_reflect.prepare(engine, reflect=True)
Base_reflect.classes.keys()

['uploads', 'users']

In [8]:
# the uploads table (class)
uploads_reflect = Base_reflect.classes.uploads
uploads_reflect.__table__

# the users table (class)
users_reflect = Base_reflect.classes.users
users_reflect.__table__

# columns in the uploads table (class)
[col for col in uploads_reflect.__table__.columns]

# columns in the uploads table (class)
[col for col in users_reflect.__table__.columns]

# foreign keys
print(users_reflect.__table__.foreign_keys, "\n")
print(uploads_reflect.__table__.foreign_keys, "\n")

# all the constraints (it is a set)
uploads_reflect.__table__.constraints
type(uploads_reflect.__table__.constraints)

for constr in list(uploads_reflect.__table__.constraints):
    print(constr,"\n")

set()

{ForeignKey('users.UserId')}

ForeignKeyConstraint(<sqlalchemy.sql.base.DedupeColumnCollection object at 0x7f9db30f6860>, None, link_to_name=True, table=Table('uploads', MetaData(), Column('UploadId', INTEGER(), table=<uploads>, primary_key=True, nullable=False), Column('UserId', INTEGER(), ForeignKey('users.UserId'), table=<uploads>), Column('Title', VARCHAR(), table=<uploads>), Column('Body', VARCHAR(), table=<uploads>), Column('Timestamp', DATETIME(), table=<uploads>), schema=None))

PrimaryKeyConstraint(Column('UploadId', INTEGER(), table=<uploads>, primary_key=True, nullable=False))

In [9]:
# ultimate method (in sqlite)
pd.read_sql("select * from sqlite_schema", con=engine)
pd.read_sql("select * from sqlite_schema", con=engine).sql.apply(lambda x: print(x))

CREATE TABLE users (
	"UserId" INTEGER NOT NULL,
	"Title" VARCHAR,
	"FirstName" VARCHAR,
	"LastName" VARCHAR,
	"Email" VARCHAR,
	"Username" VARCHAR,
	"DOB" DATETIME,
	PRIMARY KEY ("UserId")
)
CREATE TABLE uploads (
	"UploadId" INTEGER NOT NULL,
	"UserId" INTEGER,
	"Title" VARCHAR,
	"Body" VARCHAR,
	"Timestamp" DATETIME,
	PRIMARY KEY ("UploadId"),
	FOREIGN KEY("UserId") REFERENCES users ("UserId")
)

0    None
1    None
Name: sql, dtype: object

# Extract
Once the schema has been defined, the next task is to extract the raw data from its source. The exact details can vary wildly from case to case, depending on how the raw data is provided. Maybe your app calls an in-house or third-party API, or perhaps you need to read data logged in a CSV file.

The example below uses two APIs to simulate data for the fictional blogging platform described above. The Users table will be populated with profiles randomly generated at randomuser.me, and the Uploads table will contain lorem ipsum-inspired data courtesy of JSONPlaceholder.

Python’s Requests module can be used to call these APIs, as shown below:

In [10]:
import requests

url = 'https://randomuser.me/api/?results=10'
users_json = requests.get(url).json()
url2 = 'https://jsonplaceholder.typicode.com/posts/'
uploads_json = requests.get(url2).json()

In [11]:
## Add this to the first block in your note book to display json
# another option: 
import uuid
from IPython.core.display import display, HTML

import json

class RenderJSON(object):
    def __init__(self, json_data):
        if isinstance(json_data, dict):
            self.json_str = json.dumps(json_data)
        else:
            self.json_str = json_data
        self.uuid = str(uuid.uuid4())
        # This line is missed out in most of the versions of this script across the web, it is essential for this to work interleaved with print statements
#         self._ipython_display_()
        
    def _ipython_display_(self):
        display(HTML('<div id="{}" style="height: auto; width:100%;"></div>'.format(self.uuid)))
        display(HTML("""<script>
        require(["https://rawgit.com/caldwell/renderjson/master/renderjson.js"], function() {
          renderjson.set_show_to_level(1)
          document.getElementById('%s').appendChild(renderjson(%s))
        });</script>
        """ % (self.uuid, self.json_str)))

In [12]:
# RenderJSON(users_json)

In [13]:
# RenderJSON(uploads_json)

In [14]:
import pandas as pd
df_user = pd.json_normalize(users_json.get("results"))
df_user.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 34 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   gender                          10 non-null     object
 1   email                           10 non-null     object
 2   phone                           10 non-null     object
 3   cell                            10 non-null     object
 4   nat                             10 non-null     object
 5   name.title                      10 non-null     object
 6   name.first                      10 non-null     object
 7   name.last                       10 non-null     object
 8   location.street.number          10 non-null     int64
 9   location.street.name            10 non-null     object
 10  location.city                   10 non-null     object
 11  location.state                  10 non-null     object
 12  location.country                10 non-null     object
 13  location.postcode               10 non-null     object
 14  location.coordinates.latitude   10 non-null     object
 15  location.coordinates.longitude  10 non-null     object
 16  location.timezone.offset        10 non-null     object
 17  location.timezone.description   10 non-null     object
 18  login.uuid                      10 non-null     object
 19  login.username                  10 non-null     object
 20  login.password                  10 non-null     object
 21  login.salt                      10 non-null     object
 22  login.md5                       10 non-null     object
 23  login.sha1                      10 non-null     object
 24  login.sha256                    10 non-null     object
 25  dob.date                        10 non-null     object
 26  dob.age                         10 non-null     int64
 27  registered.date                 10 non-null     object
 28  registered.age                  10 non-null     int64
 29  id.name                         10 non-null     object
 30  id.value                        8 non-null      object
 31  picture.large                   10 non-null     object
 32  picture.medium                  10 non-null     object
 33  picture.thumbnail               10 non-null     object
dtypes: int64(3), object(31)
memory usage: 2.8+ KB

In [15]:
# df_user[["id.value"]]
df_user.head()

,gender,email,phone,cell,nat,name.title,name.first,name.last,location.street.number,location.street.name,...,login.sha256,dob.date,dob.age,registered.date,registered.age,id.name,id.value,picture.large,picture.medium,picture.thumbnail
0,male,curtis.richards@example.com,021-148-4908,081-907-1839,IE,Mr,Curtis,Richards,5923,O'Connell Avenue,...,fdc693897d46b98974747047e7016556a09c6dcdb9eeeb...,1984-09-02T05:55:10.713Z,37,2009-08-01T06:20:32.997Z,12,PPS,4254991T,https://randomuser.me/api/portraits/men/75.jpg,https://randomuser.me/api/portraits/med/men/75...,https://randomuser.me/api/portraits/thumb/men/...
1,male,chris.ferguson@example.com,061-228-6605,081-319-6477,IE,Mr,Chris,Ferguson,4987,North Road,...,26962adf2750c6858892480ac30c44229696e2a1e24fd7...,1992-08-20T16:40:46.834Z,29,2004-02-16T19:51:38.913Z,17,PPS,9890280T,https://randomuser.me/api/portraits/men/99.jpg,https://randomuser.me/api/portraits/med/men/99...,https://randomuser.me/api/portraits/thumb/men/...
2,male,anthony.kim@example.com,(674)-645-1776,(418)-236-3460,US,Mr,Anthony,Kim,5342,Prospect Rd,...,436b5e7901c3495e689419138e0dda2953eb9c8826275f...,1957-08-28T15:12:29.264Z,64,2007-06-03T03:40:59.098Z,14,SSN,857-32-0326,https://randomuser.me/api/portraits/men/50.jpg,https://randomuser.me/api/portraits/med/men/50...,https://randomuser.me/api/portraits/thumb/men/...
3,female,nicoline.larsen@example.com,18372514,06955280,DK,Ms,Nicoline,Larsen,4305,Bakkevej,...,c32623cc5cdc08ecd2f723800463672221b27784477f0c...,1958-10-25T11:23:24.901Z,63,2019-08-18T13:22:12.166Z,2,CPR,251058-2370,https://randomuser.me/api/portraits/women/42.jpg,https://randomuser.me/api/portraits/med/women/...,https://randomuser.me/api/portraits/thumb/wome...
4,male,lucas.martin@example.com,378-134-1207,110-471-6965,CA,Mr,Lucas,Martin,8470,Alfred St,...,9d1a6f4c042a7ff3fbf09ca60082a7b669960acb40a381...,1961-08-14T02:56:45.946Z,60,2011-06-01T09:17:15.794Z,10,,None,https://randomuser.me/api/portraits/men/59.jpg,https://randomuser.me/api/portraits/med/men/59...,https://randomuser.me/api/portraits/thumb/men/...

In [16]:
pd.json_normalize(uploads_json)

,userId,id,title,body
0,1,1,sunt aut facere repellat provident occaecati e...,quia et suscipit\nsuscipit recusandae consequu...
1,1,2,qui est esse,est rerum tempore vitae\nsequi sint nihil repr...
2,1,3,ea molestias quasi exercitationem repellat qui...,et iusto sed quo iure\nvoluptatem occaecati om...
3,1,4,eum et est occaecati,ullam et saepe reiciendis voluptatem adipisci\...
4,1,5,nesciunt quas odio,repudiandae veniam quaerat sunt sed\nalias aut...
...,...,...,...,...
95,10,96,quaerat velit veniam amet cupiditate aut numqu...,in non odio excepturi sint eum\nlabore volupta...
96,10,97,quas fugiat ut perspiciatis vero provident,eum non blanditiis soluta porro quibusdam volu...
97,10,98,laboriosam dolor voluptates,doloremque ex facilis sit sint culpa\nsoluta a...
98,10,99,temporibus sit alias delectus eligendi possimu...,quo deleniti praesentium dicta non quod\naut e...
99,10,100,at nam consequatur ea labore ea harum,cupiditate quo est a modi nesciunt soluta\nips...

The data is currently held in two objects (users_json and uploads_json) in JSON format. The next step will be to transform and load this data into the tables defined earlier.

# Transform
Before the data can be loaded into the database, it is important to ensure that it is in the correct format. The JSON objects created in the code above are nested, and contain more data than is required for the tables defined.

An important intermediary step is to transform the data from its current nested JSON format to a flat format that can be safely written to the database without error.

For the example running through this article, the data are relatively simple, and won’t need much transformation. The code below creates two lists, users and uploads, which will be used in the final step:

In [17]:
# detour: date time parsing
# What is this date format? 2011-08-12T20:17:46.384Z
# ANS: ISO 8061 (A datetime format many open API adopt)

import dateutil.parser
date_str = "2011-08-12T20:17:46.384Z"
date_str = "2011-08-12T20:17:46.384+8:00"
print(type(dateutil.parser.parse(date_str)))
date_time = dateutil.parser.parse(date_str)
print(date_time.date(),"\n",
      date_time.time(),"\n",
      date_time.timetz())

<class 'datetime.datetime'>
2011-08-12
 20:17:46.384000
 20:17:46.384000+08:00

In [18]:
# construct users-list uplods-list
# (Note: Here is the original users-list and uplods-list construnctor. 
# Later, we will present a more concise version using df.to_list("records") method)
from datetime import datetime, timedelta
from random import randint


users, uploads = [], []

for i, result in enumerate(users_json['results']):
    row = {}
    row['UserId'] = i
    row['Title'] = result['name']['title']
    row['FirstName'] = result['name']['first']
    row['LastName'] = result['name']['last']
    row['Email'] = result['email']
    row['Username'] = result['login']['username']
#     dob = datetime.strptime(result['dob']['date'],'%Y-%m-%d %H:%M:%S')    
    dob = dateutil.parser.parse(result['dob']['date'])
    row['DOB'] = dob.date()
    
    users.append(row)
    
for result in uploads_json:
    row = {}
    row['UploadId'] = result['id']
    row['UserId'] = result['userId']
    row['Title'] = result['title']
    row['Body'] = result['body']
    delta = timedelta(seconds=randint(1,86400))
    row['Timestamp'] = datetime.now() - delta
    
    uploads.append(row)

In [19]:
# date time type
print("users.DOB: ", type(users[0].get("DOB")))
print("uploads.Timestamp: ", type(uploads[0].get("Timestamp")))

users.DOB:  <class 'datetime.date'>
uploads.Timestamp:  <class 'datetime.datetime'>

In [20]:
pd.DataFrame(users)

,UserId,Title,FirstName,LastName,Email,Username,DOB
0,0,Mr,Curtis,Richards,curtis.richards@example.com,smallostrich277,1984-09-02
1,1,Mr,Chris,Ferguson,chris.ferguson@example.com,silverostrich434,1992-08-20
2,2,Mr,Anthony,Kim,anthony.kim@example.com,redbutterfly849,1957-08-28
3,3,Ms,Nicoline,Larsen,nicoline.larsen@example.com,lazywolf848,1958-10-25
4,4,Mr,Lucas,Martin,lucas.martin@example.com,angrymeercat769,1961-08-14
5,5,Mr,Craig,Coleman,craig.coleman@example.com,purpleostrich376,1992-06-04
6,6,Mr,Muhammad,Lødemel,muhammad.lodemel@example.com,ticklishmeercat301,1963-09-23
7,7,Miss,Ethel,Diaz,ethel.diaz@example.com,ticklishpanda585,1995-05-29
8,8,Ms,Eloane,Berger,eloane.berger@example.com,heavygorilla337,1975-12-16
9,9,Mr,Justin,Roy,justin.roy@example.com,whitepeacock882,1981-07-25

In [21]:
pd.DataFrame(uploads)

,UploadId,UserId,Title,Body,Timestamp
0,1,1,sunt aut facere repellat provident occaecati e...,quia et suscipit\nsuscipit recusandae consequu...,2021-06-07 23:08:03.031695
1,2,1,qui est esse,est rerum tempore vitae\nsequi sint nihil repr...,2021-06-07 21:02:10.031700
2,3,1,ea molestias quasi exercitationem repellat qui...,et iusto sed quo iure\nvoluptatem occaecati om...,2021-06-08 05:04:49.031702
3,4,1,eum et est occaecati,ullam et saepe reiciendis voluptatem adipisci\...,2021-06-08 16:20:04.031704
4,5,1,nesciunt quas odio,repudiandae veniam quaerat sunt sed\nalias aut...,2021-06-07 20:42:02.031706
...,...,...,...,...,...
95,96,10,quaerat velit veniam amet cupiditate aut numqu...,in non odio excepturi sint eum\nlabore volupta...,2021-06-08 00:01:38.031951
96,97,10,quas fugiat ut perspiciatis vero provident,eum non blanditiis soluta porro quibusdam volu...,2021-06-07 21:25:40.031953
97,98,10,laboriosam dolor voluptates,doloremque ex facilis sit sint culpa\nsoluta a...,2021-06-08 02:38:59.031954
98,99,10,temporibus sit alias delectus eligendi possimu...,quo deleniti praesentium dicta non quod\naut e...,2021-06-08 06:44:09.031956
99,100,10,at nam consequatur ea labore ea harum,cupiditate quo est a modi nesciunt soluta\nips...,2021-06-08 01:21:51.031958

The main step here is to iterate through the JSON objects created before. For each result, create a new Python dictionary object with keys corresponding to each column defined for the relevant table in the schema. This ensures that the data is no longer nested, and keeps only the data needed for the tables.

The other step is to use Python’s datetime module to manipulate dates, and transform them into DateTime type objects that can be written to the database. For the sake of this example, random DateTime objects are generated using the timedelta() method from Python’s DateTime module.

Each created dictionary is appended to a list, which will be used in the final step of the pipeline.

# Load
Finally, the data is in a form that can be loaded into the database. SQLAlchemy makes this step straightforward through its Session API.

The Session API acts a bit like a middleman, or “holding zone,” for Python objects you have either loaded from or associated with the database. These objects can be manipulated within the session before being committed to the database.

The code below creates a new session object, adds rows to it, then merges and commits them to the database:

In [22]:
# using sqlachemy ORM and try/except style:
# considr some modification to next code blocks.
Session = sessionmaker(bind=engine)
session = Session()

try:
    for user in users:
        row = Users(**user)
        session.add(row)

    for upload in uploads:
        row = Uploads(**upload)
        session.add(row)

    session.commit()
except Exception as e: 
    print(e)
finally:
    session.close()

The sessionmaker factory is used to generate newly-configured Session classes. Session is an everyday Python class that is instantiated on the second line as session.

Next up are two loops which iterate through the users and uploads lists created earlier. The elements of these lists are dictionary objects whose keys correspond to the columns given in the Users and Uploads classes defined previously.

Each object is used to instantiate a new instance of the relevant class (using Python’s handy some_function(**some_dict) trick). This object is added to the current session with session.add().

Finally, when the session contains the rows to be added, session.commit() is used to commit the transaction to the database.

In [23]:
pd.read_sql("select * from uploads", con=engine)

,UploadId,UserId,Title,Body,Timestamp
0,1,1,sunt aut facere repellat provident occaecati e...,quia et suscipit\nsuscipit recusandae consequu...,2021-06-07 23:08:03.031695
1,2,1,qui est esse,est rerum tempore vitae\nsequi sint nihil repr...,2021-06-07 21:02:10.031700
2,3,1,ea molestias quasi exercitationem repellat qui...,et iusto sed quo iure\nvoluptatem occaecati om...,2021-06-08 05:04:49.031702
3,4,1,eum et est occaecati,ullam et saepe reiciendis voluptatem adipisci\...,2021-06-08 16:20:04.031704
4,5,1,nesciunt quas odio,repudiandae veniam quaerat sunt sed\nalias aut...,2021-06-07 20:42:02.031706
...,...,...,...,...,...
95,96,10,quaerat velit veniam amet cupiditate aut numqu...,in non odio excepturi sint eum\nlabore volupta...,2021-06-08 00:01:38.031951
96,97,10,quas fugiat ut perspiciatis vero provident,eum non blanditiis soluta porro quibusdam volu...,2021-06-07 21:25:40.031953
97,98,10,laboriosam dolor voluptates,doloremque ex facilis sit sint culpa\nsoluta a...,2021-06-08 02:38:59.031954
98,99,10,temporibus sit alias delectus eligendi possimu...,quo deleniti praesentium dicta non quod\naut e...,2021-06-08 06:44:09.031956
99,100,10,at nam consequatur ea labore ea harum,cupiditate quo est a modi nesciunt soluta\nips...,2021-06-08 01:21:51.031958

In [24]:
pd.read_sql("select * from users", con=engine)

,UserId,Title,FirstName,LastName,Email,Username,DOB
0,0,Mr,Curtis,Richards,curtis.richards@example.com,smallostrich277,1984-09-02 00:00:00.000000
1,1,Mr,Chris,Ferguson,chris.ferguson@example.com,silverostrich434,1992-08-20 00:00:00.000000
2,2,Mr,Anthony,Kim,anthony.kim@example.com,redbutterfly849,1957-08-28 00:00:00.000000
3,3,Ms,Nicoline,Larsen,nicoline.larsen@example.com,lazywolf848,1958-10-25 00:00:00.000000
4,4,Mr,Lucas,Martin,lucas.martin@example.com,angrymeercat769,1961-08-14 00:00:00.000000
5,5,Mr,Craig,Coleman,craig.coleman@example.com,purpleostrich376,1992-06-04 00:00:00.000000
6,6,Mr,Muhammad,Lødemel,muhammad.lodemel@example.com,ticklishmeercat301,1963-09-23 00:00:00.000000
7,7,Miss,Ethel,Diaz,ethel.diaz@example.com,ticklishpanda585,1995-05-29 00:00:00.000000
8,8,Ms,Eloane,Berger,eloane.berger@example.com,heavygorilla337,1975-12-16 00:00:00.000000
9,9,Mr,Justin,Roy,justin.roy@example.com,whitepeacock882,1981-07-25 00:00:00.000000

Notice that in the users.DOB column, the DOBs have redundant information (zeros) attached. This is expected by design. Since the DOB is in Datetime type (date + time), when inject with date type, the database will parse date type to datetime type and add time = 00:00:00.00000 by default.

Lesson learnt: choose the proper data type when designing database. In this case, use date type for DOB.

In [25]:
# declare a new schema (class)
class UsersUploadsJoin(Base):
    __tablename__ = "users_uploads_join"
    __table_args__ = {'extend_existing': True} # add this line to make the schema modifiable
    UserId = Column(Integer, primary_key=True)
    UploadId = Column(Integer, primary_key=True)
    FirstName = Column(String)
    LastName = Column(String)
    Username = Column(String)
    DOB = Column(Date)
    UploadsTitle = Column(String)
    Body = Column(String)
    Timestamp = Column(DateTime)    
    
UsersUploadsJoin.__table__.create(bind=engine, checkfirst=True)

In [26]:
# verify
pd.read_sql("select * from sqlite_schema", con=engine).sql.apply(lambda x: print(x))

CREATE TABLE users (
	"UserId" INTEGER NOT NULL,
	"Title" VARCHAR,
	"FirstName" VARCHAR,
	"LastName" VARCHAR,
	"Email" VARCHAR,
	"Username" VARCHAR,
	"DOB" DATETIME,
	PRIMARY KEY ("UserId")
)
CREATE TABLE uploads (
	"UploadId" INTEGER NOT NULL,
	"UserId" INTEGER,
	"Title" VARCHAR,
	"Body" VARCHAR,
	"Timestamp" DATETIME,
	PRIMARY KEY ("UploadId"),
	FOREIGN KEY("UserId") REFERENCES users ("UserId")
)
CREATE TABLE users_uploads_join (
	"UserId" INTEGER NOT NULL,
	"UploadId" INTEGER NOT NULL,
	"FirstName" VARCHAR,
	"LastName" VARCHAR,
	"Username" VARCHAR,
	"DOB" DATE,
	"UploadsTitle" VARCHAR,
	"Body" VARCHAR,
	"Timestamp" DATETIME,
	PRIMARY KEY ("UserId", "UploadId")
)
None

0    None
1    None
2    None
3    None
Name: sql, dtype: object

# All Together (with some modifications)
Let's wrap it up to walk through the whole ETL process. We will extract users and uploads information from two APIs, join them gother and load it into the database with predefined schema.
Stage1: E: extract from API
Stage2: T: transform using Pandas
Stage3: 
* step1: read the table schema from database (we are not going to create schema everytime, instead we will reflect schema and make sure the data to be injected match the schema)
* step2: prepare the data to load. (We use Pandas in this step). A final check of data type and column name consistency. 
* step3: load data (in the context of SQL, INSERT INTO). Use a loading tool to abstract this process (we use sqlalchemy here)

All the steps use methods we have seen before, at least in a high-level. We will make some modifications in some steps to make the workflow more concise and clearer.

Since the first two stages (extract and transform) are very similar, our demo starts with stage 3.

In [28]:
# Stage3: loading
# step1: retrieve table schema (reflect)
from sqlalchemy.ext.automap import automap_base

Base_reflect = automap_base()
Base_reflect.prepare(engine, reflect=True)
print("table names: ", Base_reflect.classes.keys(), "\n")

# retrive schema stored in the sqlalchemy DeclarativeMeta class
JoinReflect = Base_reflect.classes.users_uploads_join
# print(type(JoinReflect), "\n")

# review the schema
for col in JoinReflect.__table__.columns:
    print(col.description, col.type)
[col for col in JoinReflect.__table__.columns]

table names:  ['uploads', 'users', 'users_uploads_join']

UserId INTEGER
UploadId INTEGER
FirstName VARCHAR
LastName VARCHAR
Username VARCHAR
DOB DATE
UploadsTitle VARCHAR
Body VARCHAR
Timestamp DATETIME

[Column('UserId', INTEGER(), table=<users_uploads_join>, primary_key=True, nullable=False),
 Column('UploadId', INTEGER(), table=<users_uploads_join>, primary_key=True, nullable=False),
 Column('FirstName', VARCHAR(), table=<users_uploads_join>),
 Column('LastName', VARCHAR(), table=<users_uploads_join>),
 Column('Username', VARCHAR(), table=<users_uploads_join>),
 Column('DOB', DATE(), table=<users_uploads_join>),
 Column('UploadsTitle', VARCHAR(), table=<users_uploads_join>),
 Column('Body', VARCHAR(), table=<users_uploads_join>),
 Column('Timestamp', DATETIME(), table=<users_uploads_join>)]

In [29]:
# step2: prep the TABLE users_uploads_join
# note: rename the column Title to UploadsTitle to match the schema
df_users = pd.DataFrame(users)
df_uploads = pd.DataFrame(uploads)
df_join = pd.merge(df_users[["UserId", "FirstName", "LastName", "Username", "DOB"]],
         df_uploads[["UserId", "UploadId", "Title", "Body", "Timestamp"]], on="UserId")\
        .rename(columns = {'Title': 'UploadsTitle'}, inplace = False)
df_join

,UserId,FirstName,LastName,Username,DOB,UploadId,UploadsTitle,Body,Timestamp
0,1,Chris,Ferguson,silverostrich434,1992-08-20,1,sunt aut facere repellat provident occaecati e...,quia et suscipit\nsuscipit recusandae consequu...,2021-06-07 23:08:03.031695
1,1,Chris,Ferguson,silverostrich434,1992-08-20,2,qui est esse,est rerum tempore vitae\nsequi sint nihil repr...,2021-06-07 21:02:10.031700
2,1,Chris,Ferguson,silverostrich434,1992-08-20,3,ea molestias quasi exercitationem repellat qui...,et iusto sed quo iure\nvoluptatem occaecati om...,2021-06-08 05:04:49.031702
3,1,Chris,Ferguson,silverostrich434,1992-08-20,4,eum et est occaecati,ullam et saepe reiciendis voluptatem adipisci\...,2021-06-08 16:20:04.031704
4,1,Chris,Ferguson,silverostrich434,1992-08-20,5,nesciunt quas odio,repudiandae veniam quaerat sunt sed\nalias aut...,2021-06-07 20:42:02.031706
...,...,...,...,...,...,...,...,...,...
85,9,Justin,Roy,whitepeacock882,1981-07-25,86,placeat quia et porro iste,quasi excepturi consequatur iste autem tempori...,2021-06-08 04:32:34.031932
86,9,Justin,Roy,whitepeacock882,1981-07-25,87,nostrum quis quasi placeat,eos et molestiae\nnesciunt ut a\ndolores persp...,2021-06-08 04:25:41.031934
87,9,Justin,Roy,whitepeacock882,1981-07-25,88,sapiente omnis fugit eos,consequatur omnis est praesentium\nducimus non...,2021-06-08 01:08:18.031936
88,9,Justin,Roy,whitepeacock882,1981-07-25,89,sint soluta et vel magnam aut ut sed qui,repellat aut aperiam totam temporibus autem et...,2021-06-07 20:41:08.031938
89,9,Justin,Roy,whitepeacock882,1981-07-25,90,ad iusto omnis odit dolor voluptatibus,minus omnis soluta quia\nqui sed adipisci volu...,2021-06-08 11:16:08.031940

In [30]:
# modification 1: construct the join-lists
# A more concise join-list constructor using df.to_list("records")
list_join_dict = df_join.to_dict("records")
list_join_dict

[{'UserId': 1,
  'FirstName': 'Chris',
  'LastName': 'Ferguson',
  'Username': 'silverostrich434',
  'DOB': datetime.date(1992, 8, 20),
  'UploadId': 1,
  'UploadsTitle': 'sunt aut facere repellat provident occaecati excepturi optio reprehenderit',
  'Body': 'quia et suscipit\nsuscipit recusandae consequuntur expedita et cum\nreprehenderit molestiae ut ut quas totam\nnostrum rerum est autem sunt rem eveniet architecto',
  'Timestamp': Timestamp('2021-06-07 23:08:03.031695')},
 {'UserId': 1,
  'FirstName': 'Chris',
  'LastName': 'Ferguson',
  'Username': 'silverostrich434',
  'DOB': datetime.date(1992, 8, 20),
  'UploadId': 2,
  'UploadsTitle': 'qui est esse',
  'Body': 'est rerum tempore vitae\nsequi sint nihil reprehenderit dolor beatae ea dolores neque\nfugiat blanditiis voluptate porro vel nihil molestiae ut reiciendis\nqui aperiam non debitis possimus qui neque nisi nulla',
  'Timestamp': Timestamp('2021-06-07 21:02:10.031700')},
 {'UserId': 1,
  'FirstName': 'Chris',
  'LastName': 'Ferguson',
  'Username': 'silverostrich434',
  'DOB': datetime.date(1992, 8, 20),
  'UploadId': 3,
  'UploadsTitle': 'ea molestias quasi exercitationem repellat qui ipsa sit aut',
  'Body': 'et iusto sed quo iure\nvoluptatem occaecati omnis eligendi aut ad\nvoluptatem doloribus vel accusantium quis pariatur\nmolestiae porro eius odio et labore et velit aut',
  'Timestamp': Timestamp('2021-06-08 05:04:49.031702')},
 {'UserId': 1,
  'FirstName': 'Chris',
  'LastName': 'Ferguson',
  'Username': 'silverostrich434',
  'DOB': datetime.date(1992, 8, 20),
  'UploadId': 4,
  'UploadsTitle': 'eum et est occaecati',
  'Body': 'ullam et saepe reiciendis voluptatem adipisci\nsit amet autem assumenda provident rerum culpa\nquis hic commodi nesciunt rem tenetur doloremque ipsam iure\nquis sunt voluptatem rerum illo velit',
  'Timestamp': Timestamp('2021-06-08 16:20:04.031704')},
 {'UserId': 1,
  'FirstName': 'Chris',
  'LastName': 'Ferguson',
  'Username': 'silverostrich434',
  'DOB': datetime.date(1992, 8, 20),
  'UploadId': 5,
  'UploadsTitle': 'nesciunt quas odio',
  'Body': 'repudiandae veniam quaerat sunt sed\nalias aut fugiat sit autem sed est\nvoluptatem omnis possimus esse voluptatibus quis\nest aut tenetur dolor neque',
  'Timestamp': Timestamp('2021-06-07 20:42:02.031706')},
 {'UserId': 1,
  'FirstName': 'Chris',
  'LastName': 'Ferguson',
  'Username': 'silverostrich434',
  'DOB': datetime.date(1992, 8, 20),
  'UploadId': 6,
  'UploadsTitle': 'dolorem eum magni eos aperiam quia',
  'Body': 'ut aspernatur corporis harum nihil quis provident sequi\nmollitia nobis aliquid molestiae\nperspiciatis et ea nemo ab reprehenderit accusantium quas\nvoluptate dolores velit et doloremque molestiae',
  'Timestamp': Timestamp('2021-06-07 22:58:14.031708')},
 {'UserId': 1,
  'FirstName': 'Chris',
  'LastName': 'Ferguson',
  'Username': 'silverostrich434',
  'DOB': datetime.date(1992, 8, 20),
  'UploadId': 7,
  'UploadsTitle': 'magnam facilis autem',
  'Body': 'dolore placeat quibusdam ea quo vitae\nmagni quis enim qui quis quo nemo aut saepe\nquidem repellat excepturi ut quia\nsunt ut sequi eos ea sed quas',
  'Timestamp': Timestamp('2021-06-07 23:23:02.031710')},
 {'UserId': 1,
  'FirstName': 'Chris',
  'LastName': 'Ferguson',
  'Username': 'silverostrich434',
  'DOB': datetime.date(1992, 8, 20),
  'UploadId': 8,
  'UploadsTitle': 'dolorem dolore est ipsam',
  'Body': 'dignissimos aperiam dolorem qui eum\nfacilis quibusdam animi sint suscipit qui sint possimus cum\nquaerat magni maiores excepturi\nipsam ut commodi dolor voluptatum modi aut vitae',
  'Timestamp': Timestamp('2021-06-08 13:33:00.031712')},
 {'UserId': 1,
  'FirstName': 'Chris',
  'LastName': 'Ferguson',
  'Username': 'silverostrich434',
  'DOB': datetime.date(1992, 8, 20),
  'UploadId': 9,
  'UploadsTitle': 'nesciunt iure omnis dolorem tempora et accusantium',
  'Body': 'consectetur animi nesciunt iure dolore\nenim quia ad\nveniam autem ut quam aut nobis\net est aut quod aut provident voluptas autem voluptas',
  'Timestamp': Timestamp('2021-06-08 10:07:33.031714')},
 {'UserId': 1,
  'FirstName': 'Chris',
  'LastName': 'Ferguson',
  'Username': 'silverostrich434',
  'DOB': datetime.date(1992, 8, 20),
  'UploadId': 10,
  'UploadsTitle': 'optio molestias id quia eum',
  'Body': 'quo et expedita modi cum officia vel magni\ndoloribus qui repudiandae\nvero nisi sit\nquos veniam quod sed accusamus veritatis error',
  'Timestamp': Timestamp('2021-06-08 17:28:09.031717')},
 {'UserId': 2,
  'FirstName': 'Anthony',
  'LastName': 'Kim',
  'Username': 'redbutterfly849',
  'DOB': datetime.date(1957, 8, 28),
  'UploadId': 11,
  'UploadsTitle': 'et ea vero quia laudantium autem',
  'Body': 'delectus reiciendis molestiae occaecati non minima eveniet qui voluptatibus\naccusamus in eum beatae sit\nvel qui neque voluptates ut commodi qui incidunt\nut animi commodi',
  'Timestamp': Timestamp('2021-06-07 19:17:44.031718')},
 {'UserId': 2,
  'FirstName': 'Anthony',
  'LastName': 'Kim',
  'Username': 'redbutterfly849',
  'DOB': datetime.date(1957, 8, 28),
  'UploadId': 12,
  'UploadsTitle': 'in quibusdam tempore odit est dolorem',
  'Body': 'itaque id aut magnam\npraesentium quia et ea odit et ea voluptas et\nsapiente quia nihil amet occaecati quia id voluptatem\nincidunt ea est distinctio odio',
  'Timestamp': Timestamp('2021-06-08 10:13:45.031720')},
 {'UserId': 2,
  'FirstName': 'Anthony',
  'LastName': 'Kim',
  'Username': 'redbutterfly849',
  'DOB': datetime.date(1957, 8, 28),
  'UploadId': 13,
  'UploadsTitle': 'dolorum ut in voluptas mollitia et saepe quo animi',
  'Body': 'aut dicta possimus sint mollitia voluptas commodi quo doloremque\niste corrupti reiciendis voluptatem eius rerum\nsit cumque quod eligendi laborum minima\nperferendis recusandae assumenda consectetur porro architecto ipsum ipsam',
  'Timestamp': Timestamp('2021-06-08 08:39:47.031723')},
 {'UserId': 2,
  'FirstName': 'Anthony',
  'LastName': 'Kim',
  'Username': 'redbutterfly849',
  'DOB': datetime.date(1957, 8, 28),
  'UploadId': 14,
  'UploadsTitle': 'voluptatem eligendi optio',
  'Body': 'fuga et accusamus dolorum perferendis illo voluptas\nnon doloremque neque facere\nad qui dolorum molestiae beatae\nsed aut voluptas totam sit illum',
  'Timestamp': Timestamp('2021-06-08 17:02:12.031725')},
 {'UserId': 2,
  'FirstName': 'Anthony',
  'LastName': 'Kim',
  'Username': 'redbutterfly849',
  'DOB': datetime.date(1957, 8, 28),
  'UploadId': 15,
  'UploadsTitle': 'eveniet quod temporibus',
  'Body': 'reprehenderit quos placeat\nvelit minima officia dolores impedit repudiandae molestiae nam\nvoluptas recusandae quis delectus\nofficiis harum fugiat vitae',
  'Timestamp': Timestamp('2021-06-07 19:28:09.031726')},
 {'UserId': 2,
  'FirstName': 'Anthony',
  'LastName': 'Kim',
  'Username': 'redbutterfly849',
  'DOB': datetime.date(1957, 8, 28),
  'UploadId': 16,
  'UploadsTitle': 'sint suscipit perspiciatis velit dolorum rerum ipsa laboriosam odio',
  'Body': 'suscipit nam nisi quo aperiam aut\nasperiores eos fugit maiores voluptatibus quia\nvoluptatem quis ullam qui in alias quia est\nconsequatur magni mollitia accusamus ea nisi voluptate dicta',
  'Timestamp': Timestamp('2021-06-08 12:21:21.031729')},
 {'UserId': 2,
  'FirstName': 'Anthony',
  'LastName': 'Kim',
  'Username': 'redbutterfly849',
  'DOB': datetime.date(1957, 8, 28),
  'UploadId': 17,
  'UploadsTitle': 'fugit voluptas sed molestias voluptatem provident',
  'Body': 'eos voluptas et aut odit natus earum\naspernatur fuga molestiae ullam\ndeserunt ratione qui eos\nqui nihil ratione nemo velit ut aut id quo',
  'Timestamp': Timestamp('2021-06-08 06:54:32.031730')},
 {'UserId': 2,
  'FirstName': 'Anthony',
  'LastName': 'Kim',
  'Username': 'redbutterfly849',
  'DOB': datetime.date(1957, 8, 28),
  'UploadId': 18,
  'UploadsTitle': 'voluptate et itaque vero tempora molestiae',
  'Body': 'eveniet quo quis\nlaborum totam consequatur non dolor\nut et est repudiandae\nest voluptatem vel debitis et magnam',
  'Timestamp': Timestamp('2021-06-08 13:23:47.031732')},
 {'UserId': 2,
  'FirstName': 'Anthony',
  'LastName': 'Kim',
  'Username': 'redbutterfly849',
  'DOB': datetime.date(1957, 8, 28),
  'UploadId': 19,
  'UploadsTitle': 'adipisci placeat illum aut reiciendis qui',
  'Body': 'illum quis cupiditate provident sit magnam\nea sed aut omnis\nveniam maiores ullam consequatur atque\nadipisci quo iste expedita sit quos voluptas',
  'Timestamp': Timestamp('2021-06-07 18:24:56.031734')},
 {'UserId': 2,
  'FirstName': 'Anthony',
  'LastName': 'Kim',
  'Username': 'redbutterfly849',
  'DOB': datetime.date(1957, 8, 28),
  'UploadId': 20,
  'UploadsTitle': 'doloribus ad provident suscipit at',
  'Body': 'qui consequuntur ducimus possimus quisquam amet similique\nsuscipit porro ipsam amet\neos veritatis officiis exercitationem vel fugit aut necessitatibus totam\nomnis rerum consequatur expedita quidem cumque explicabo',
  'Timestamp': Timestamp('2021-06-08 03:36:28.031736')},
 {'UserId': 3,
  'FirstName': 'Nicoline',
  'LastName': 'Larsen',
  'Username': 'lazywolf848',
  'DOB': datetime.date(1958, 10, 25),
  'UploadId': 21,
  'UploadsTitle': 'asperiores ea ipsam voluptatibus modi minima quia sint',
  'Body': 'repellat aliquid praesentium dolorem quo\nsed totam minus non itaque\nnihil labore molestiae sunt dolor eveniet hic recusandae veniam\ntempora et tenetur expedita sunt',
  'Timestamp': Timestamp('2021-06-08 09:42:01.031738')},
 {'UserId': 3,
  'FirstName': 'Nicoline',
  'LastName': 'Larsen',
  'Username': 'lazywolf848',
  'DOB': datetime.date(1958, 10, 25),
  'UploadId': 22,
  'UploadsTitle': 'dolor sint quo a velit explicabo quia nam',
  'Body': 'eos qui et ipsum ipsam suscipit aut\nsed omnis non odio\nexpedita earum mollitia molestiae aut atque rem suscipit\nnam impedit esse',
  'Timestamp': Timestamp('2021-06-08 14:47:04.031740')},
 {'UserId': 3,
  'FirstName': 'Nicoline',
  'LastName': 'Larsen',
  'Username': 'lazywolf848',
  'DOB': datetime.date(1958, 10, 25),
  'UploadId': 23,
  'UploadsTitle': 'maxime id vitae nihil numquam',
  'Body': 'veritatis unde neque eligendi\nquae quod architecto quo neque vitae\nest illo sit tempora doloremque fugit quod\net et vel beatae sequi ullam sed tenetur perspiciatis',
  'Timestamp': Timestamp('2021-06-08 02:12:01.031742')},
 {'UserId': 3,
  'FirstName': 'Nicoline',
  'LastName': 'Larsen',
  'Username': 'lazywolf848',
  'DOB': datetime.date(1958, 10, 25),
  'UploadId': 24,
  'UploadsTitle': 'autem hic labore sunt dolores incidunt',
  'Body': 'enim et ex nulla\nomnis voluptas quia qui\nvoluptatem consequatur numquam aliquam sunt\ntotam recusandae id dignissimos aut sed asperiores deserunt',
  'Timestamp': Timestamp('2021-06-08 06:58:18.031744')},
 {'UserId': 3,
  'FirstName': 'Nicoline',
  'LastName': 'Larsen',
  'Username': 'lazywolf848',
  'DOB': datetime.date(1958, 10, 25),
  'UploadId': 25,
  'UploadsTitle': 'rem alias distinctio quo quis',
  'Body': 'ullam consequatur ut\nomnis quis sit vel consequuntur\nipsa eligendi ipsum molestiae et omnis error nostrum\nmolestiae illo tempore quia et distinctio',
  'Timestamp': Timestamp('2021-06-08 16:00:16.031745')},
 {'UserId': 3,
  'FirstName': 'Nicoline',
  'LastName': 'Larsen',
  'Username': 'lazywolf848',
  'DOB': datetime.date(1958, 10, 25),
  'UploadId': 26,
  'UploadsTitle': 'est et quae odit qui non',
  'Body': 'similique esse doloribus nihil accusamus\nomnis dolorem fuga consequuntur reprehenderit fugit recusandae temporibus\nperspiciatis cum ut laudantium\nomnis aut molestiae vel vero',
  'Timestamp': Timestamp('2021-06-08 09:02:30.031747')},
 {'UserId': 3,
  'FirstName': 'Nicoline',
  'LastName': 'Larsen',
  'Username': 'lazywolf848',
  'DOB': datetime.date(1958, 10, 25),
  'UploadId': 27,
  'UploadsTitle': 'quasi id et eos tenetur aut quo autem',
  'Body': 'eum sed dolores ipsam sint possimus debitis occaecati\ndebitis qui qui et\nut placeat enim earum aut odit facilis\nconsequatur suscipit necessitatibus rerum sed inventore temporibus consequatur',
  'Timestamp': Timestamp('2021-06-08 15:32:24.031749')},
 {'UserId': 3,
  'FirstName': 'Nicoline',
  'LastName': 'Larsen',
  'Username': 'lazywolf848',
  'DOB': datetime.date(1958, 10, 25),
  'UploadId': 28,
  'UploadsTitle': 'delectus ullam et corporis nulla voluptas sequi',
  'Body': 'non et quaerat ex quae ad maiores\nmaiores recusandae totam aut blanditiis mollitia quas illo\nut voluptatibus voluptatem\nsimilique nostrum eum',
  'Timestamp': Timestamp('2021-06-08 08:47:12.031751')},
 {'UserId': 3,
  'FirstName': 'Nicoline',
  'LastName': 'Larsen',
  'Username': 'lazywolf848',
  'DOB': datetime.date(1958, 10, 25),
  'UploadId': 29,
  'UploadsTitle': 'iusto eius quod necessitatibus culpa ea',
  'Body': 'odit magnam ut saepe sed non qui\ntempora atque nihil\naccusamus illum doloribus illo dolor\neligendi repudiandae odit magni similique sed cum maiores',
  'Timestamp': Timestamp('2021-06-07 19:40:08.031753')},
 {'UserId': 3,
  'FirstName': 'Nicoline',
  'LastName': 'Larsen',
  'Username': 'lazywolf848',
  'DOB': datetime.date(1958, 10, 25),
  'UploadId': 30,
  'UploadsTitle': 'a quo magni similique perferendis',
  'Body': 'alias dolor cumque\nimpedit blanditiis non eveniet odio maxime\nblanditiis amet eius quis tempora quia autem rem\na provident perspiciatis quia',
  'Timestamp': Timestamp('2021-06-08 10:04:48.031755')},
 {'UserId': 4,
  'FirstName': 'Lucas',
  'LastName': 'Martin',
  'Username': 'angrymeercat769',
  'DOB': datetime.date(1961, 8, 14),
  'UploadId': 31,
  'UploadsTitle': 'ullam ut quidem id aut vel consequuntur',
  'Body': 'debitis eius sed quibusdam non quis consectetur vitae\nimpedit ut qui consequatur sed aut in\nquidem sit nostrum et maiores adipisci atque\nquaerat voluptatem adipisci repudiandae',
  'Timestamp': Timestamp('2021-06-08 07:43:24.031757')},
 {'UserId': 4,
  'FirstName': 'Lucas',
  'LastName': 'Martin',
  'Username': 'angrymeercat769',
  'DOB': datetime.date(1961, 8, 14),
  'UploadId': 32,
  'UploadsTitle': 'doloremque illum aliquid sunt',
  'Body': 'deserunt eos nobis asperiores et hic\nest debitis repellat molestiae optio\nnihil ratione ut eos beatae quibusdam distinctio maiores\nearum voluptates et aut adipisci ea maiores voluptas maxime',
  'Timestamp': Timestamp('2021-06-08 02:25:21.031758')},
 {'UserId': 4,
  'FirstName': 'Lucas',
  'LastName': 'Martin',
  'Username': 'angrymeercat769',
  'DOB': datetime.date(1961, 8, 14),
  'UploadId': 33,
  'UploadsTitle': 'qui explicabo molestiae dolorem',
  'Body': 'rerum ut et numquam laborum odit est sit\nid qui sint in\nquasi tenetur tempore aperiam et quaerat qui in\nrerum officiis sequi cumque quod',
  'Timestamp': Timestamp('2021-06-08 02:31:33.031760')},
 {'UserId': 4,
  'FirstName': 'Lucas',
  'LastName': 'Martin',
  'Username': 'angrymeercat769',
  'DOB': datetime.date(1961, 8, 14),
  'UploadId': 34,
  'UploadsTitle': 'magnam ut rerum iure',
  'Body': 'ea velit perferendis earum ut voluptatem voluptate itaque iusto\ntotam pariatur in\nnemo voluptatem voluptatem autem magni tempora minima in\nest distinctio qui assumenda accusamus dignissimos officia nesciunt nobis',
  'Timestamp': Timestamp('2021-06-08 11:27:29.031833')},
 {'UserId': 4,
  'FirstName': 'Lucas',
  'LastName': 'Martin',
  'Username': 'angrymeercat769',
  'DOB': datetime.date(1961, 8, 14),
  'UploadId': 35,
  'UploadsTitle': 'id nihil consequatur molestias animi provident',
  'Body': 'nisi error delectus possimus ut eligendi vitae\nplaceat eos harum cupiditate facilis reprehenderit voluptatem beatae\nmodi ducimus quo illum voluptas eligendi\net nobis quia fugit',
  'Timestamp': Timestamp('2021-06-08 14:36:31.031837')},
 {'UserId': 4,
  'FirstName': 'Lucas',
  'LastName': 'Martin',
  'Username': 'angrymeercat769',
  'DOB': datetime.date(1961, 8, 14),
  'UploadId': 36,
  'UploadsTitle': 'fuga nam accusamus voluptas reiciendis itaque',
  'Body': 'ad mollitia et omnis minus architecto odit\nvoluptas doloremque maxime aut non ipsa qui alias veniam\nblanditiis culpa aut quia nihil cumque facere et occaecati\nqui aspernatur quia eaque ut aperiam inventore',
  'Timestamp': Timestamp('2021-06-08 09:46:21.031839')},
 {'UserId': 4,
  'FirstName': 'Lucas',
  'LastName': 'Martin',
  'Username': 'angrymeercat769',
  'DOB': datetime.date(1961, 8, 14),
  'UploadId': 37,
  'UploadsTitle': 'provident vel ut sit ratione est',
  'Body': 'debitis et eaque non officia sed nesciunt pariatur vel\nvoluptatem iste vero et ea\nnumquam aut expedita ipsum nulla in\nvoluptates omnis consequatur aut enim officiis in quam qui',
  'Timestamp': Timestamp('2021-06-08 01:38:39.031842')},
 {'UserId': 4,
  'FirstName': 'Lucas',
  'LastName': 'Martin',
  'Username': 'angrymeercat769',
  'DOB': datetime.date(1961, 8, 14),
  'UploadId': 38,
  'UploadsTitle': 'explicabo et eos deleniti nostrum ab id repellendus',
  'Body': 'animi esse sit aut sit nesciunt assumenda eum voluptas\nquia voluptatibus provident quia necessitatibus ea\nrerum repudiandae quia voluptatem delectus fugit aut id quia\nratione optio eos iusto veniam iure',
  'Timestamp': Timestamp('2021-06-07 22:26:20.031843')},
 {'UserId': 4,
  'FirstName': 'Lucas',
  'LastName': 'Martin',
  'Username': 'angrymeercat769',
  'DOB': datetime.date(1961, 8, 14),
  'UploadId': 39,
  'UploadsTitle': 'eos dolorem iste accusantium est eaque quam',
  'Body': 'corporis rerum ducimus vel eum accusantium\nmaxime aspernatur a porro possimus iste omnis\nest in deleniti asperiores fuga aut\nvoluptas sapiente vel dolore minus voluptatem incidunt ex',
  'Timestamp': Timestamp('2021-06-08 02:08:04.031845')},
 {'UserId': 4,
  'FirstName': 'Lucas',
  'LastName': 'Martin',
  'Username': 'angrymeercat769',
  'DOB': datetime.date(1961, 8, 14),
  'UploadId': 40,
  'UploadsTitle': 'enim quo cumque',
  'Body': 'ut voluptatum aliquid illo tenetur nemo sequi quo facilis\nipsum rem optio mollitia quas\nvoluptatem eum voluptas qui\nunde omnis voluptatem iure quasi maxime voluptas nam',
  'Timestamp': Timestamp('2021-06-08 10:37:25.031847')},
 {'UserId': 5,
  'FirstName': 'Craig',
  'LastName': 'Coleman',
  'Username': 'purpleostrich376',
  'DOB': datetime.date(1992, 6, 4),
  'UploadId': 41,
  'UploadsTitle': 'non est facere',
  'Body': 'molestias id nostrum\nexcepturi molestiae dolore omnis repellendus quaerat saepe\nconsectetur iste quaerat tenetur asperiores accusamus ex ut\nnam quidem est ducimus sunt debitis saepe',
  'Timestamp': Timestamp('2021-06-08 08:40:02.031849')},
 {'UserId': 5,
  'FirstName': 'Craig',
  'LastName': 'Coleman',
  'Username': 'purpleostrich376',
  'DOB': datetime.date(1992, 6, 4),
  'UploadId': 42,
  'UploadsTitle': 'commodi ullam sint et excepturi error explicabo praesentium voluptas',
  'Body': 'odio fugit voluptatum ducimus earum autem est incidunt voluptatem\nodit reiciendis aliquam sunt sequi nulla dolorem\nnon facere repellendus voluptates quia\nratione harum vitae ut',
  'Timestamp': Timestamp('2021-06-07 18:36:14.031851')},
 {'UserId': 5,
  'FirstName': 'Craig',
  'LastName': 'Coleman',
  'Username': 'purpleostrich376',
  'DOB': datetime.date(1992, 6, 4),
  'UploadId': 43,
  'UploadsTitle': 'eligendi iste nostrum consequuntur adipisci praesentium sit beatae perferendis',
  'Body': 'similique fugit est\nillum et dolorum harum et voluptate eaque quidem\nexercitationem quos nam commodi possimus cum odio nihil nulla\ndolorum exercitationem magnam ex et a et distinctio debitis',
  'Timestamp': Timestamp('2021-06-08 07:21:40.031853')},
 {'UserId': 5,
  'FirstName': 'Craig',
  'LastName': 'Coleman',
  'Username': 'purpleostrich376',
  'DOB': datetime.date(1992, 6, 4),
  'UploadId': 44,
  'UploadsTitle': 'optio dolor molestias sit',
  'Body': 'temporibus est consectetur dolore\net libero debitis vel velit laboriosam quia\nipsum quibusdam qui itaque fuga rem aut\nea et iure quam sed maxime ut distinctio quae',
  'Timestamp': Timestamp('2021-06-08 02:19:08.031854')},
 {'UserId': 5,
  'FirstName': 'Craig',
  'LastName': 'Coleman',
  'Username': 'purpleostrich376',

In [31]:
# Note: "DOB" is actually in date() type even though it is displayed as "object" in df.info()
df_join.loc[[0]].DOB.apply(lambda x: print("DOB: ", type(x), "\n"))
df_join.info()

DOB:  <class 'datetime.date'>

<class 'pandas.core.frame.DataFrame'>
Int64Index: 90 entries, 0 to 89
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   UserId        90 non-null     int64
 1   FirstName     90 non-null     object
 2   LastName      90 non-null     object
 3   Username      90 non-null     object
 4   DOB           90 non-null     object
 5   UploadId      90 non-null     int64
 6   UploadsTitle  90 non-null     object
 7   Body          90 non-null     object
 8   Timestamp     90 non-null     datetime64[ns]
dtypes: datetime64[ns](1), int64(2), object(6)
memory usage: 9.1+ KB

In [32]:
# modification2: using sqlalchemy bulk_insert_mappings
# Note: return_defaults=False, render_nulls=False by default. Better performance
# ref: bulk_insert_mappings: https://docs.sqlalchemy.org/en/14/orm/session_api.html#sqlalchemy.orm.Session.bulk_insert_mappings
# ref: Optimize Inserts Using SQLAlchemy: https://www.devx.com/dbzone/optimize-inserts-using-sqlalchemy.html
# ref: sqlalchemy session API: https://docs.sqlalchemy.org/en/14/orm/session_api.html#session-and-sessionmaker

with Session() as session:
    session.bulk_insert_mappings(JoinReflect, list_join_dict)
    session.commit()

In [33]:
# verify
pd.read_sql("select * from users_uploads_join", engine)

,UserId,UploadId,FirstName,LastName,Username,DOB,UploadsTitle,Body,Timestamp
0,1,1,Chris,Ferguson,silverostrich434,1992-08-20,sunt aut facere repellat provident occaecati e...,quia et suscipit\nsuscipit recusandae consequu...,2021-06-07 23:08:03.031695
1,1,2,Chris,Ferguson,silverostrich434,1992-08-20,qui est esse,est rerum tempore vitae\nsequi sint nihil repr...,2021-06-07 21:02:10.031700
2,1,3,Chris,Ferguson,silverostrich434,1992-08-20,ea molestias quasi exercitationem repellat qui...,et iusto sed quo iure\nvoluptatem occaecati om...,2021-06-08 05:04:49.031702
3,1,4,Chris,Ferguson,silverostrich434,1992-08-20,eum et est occaecati,ullam et saepe reiciendis voluptatem adipisci\...,2021-06-08 16:20:04.031704
4,1,5,Chris,Ferguson,silverostrich434,1992-08-20,nesciunt quas odio,repudiandae veniam quaerat sunt sed\nalias aut...,2021-06-07 20:42:02.031706
...,...,...,...,...,...,...,...,...,...
85,9,86,Justin,Roy,whitepeacock882,1981-07-25,placeat quia et porro iste,quasi excepturi consequatur iste autem tempori...,2021-06-08 04:32:34.031932
86,9,87,Justin,Roy,whitepeacock882,1981-07-25,nostrum quis quasi placeat,eos et molestiae\nnesciunt ut a\ndolores persp...,2021-06-08 04:25:41.031934
87,9,88,Justin,Roy,whitepeacock882,1981-07-25,sapiente omnis fugit eos,consequatur omnis est praesentium\nducimus non...,2021-06-08 01:08:18.031936
88,9,89,Justin,Roy,whitepeacock882,1981-07-25,sint soluta et vel magnam aut ut sed qui,repellat aut aperiam totam temporibus autem et...,2021-06-07 20:41:08.031938
89,9,90,Justin,Roy,whitepeacock882,1981-07-25,ad iusto omnis odit dolor voluptatibus,minus omnis soluta quia\nqui sed adipisci volu...,2021-06-08 11:16:08.031940

In [34]:
# error handling: try to execute the following
# it should cause an error
with Session() as session:
    session.bulk_insert_mappings(JoinReflect, list_join_dict)
    session.commit()

IntegrityError: (sqlite3.IntegrityError) UNIQUE constraint failed: users_uploads_join.UserId, users_uploads_join.UploadId
[SQL: INSERT INTO users_uploads_join ("UserId", "UploadId", "FirstName", "LastName", "Username", "DOB", "UploadsTitle", "Body", "Timestamp") VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)]
[parameters: ((1, 1, 'Chris', 'Ferguson', 'silverostrich434', '1992-08-20', 'sunt aut facere repellat provident occaecati excepturi optio reprehenderit', 'quia et suscipit\nsuscipit recusandae consequuntur expedita et cum\nreprehenderit molestiae ut ut quas totam\nnostrum rerum est autem sunt rem eveniet architecto', '2021-06-07 23:08:03.031695'), (1, 2, 'Chris', 'Ferguson', 'silverostrich434', '1992-08-20', 'qui est esse', 'est rerum tempore vitae\nsequi sint nihil reprehenderit dolor beatae ea dolores neque\nfugiat blanditiis voluptate porro vel nihil molestiae ut reiciendis\nqui aperiam non debitis possimus qui neque nisi nulla', '2021-06-07 21:02:10.031700'), (1, 3, 'Chris', 'Ferguson', 'silverostrich434', '1992-08-20', 'ea molestias quasi exercitationem repellat qui ipsa sit aut', 'et iusto sed quo iure\nvoluptatem occaecati omnis eligendi aut ad\nvoluptatem doloribus vel accusantium quis pariatur\nmolestiae porro eius odio et labore et velit aut', '2021-06-08 05:04:49.031702'), (1, 4, 'Chris', 'Ferguson', 'silverostrich434', '1992-08-20', 'eum et est occaecati', 'ullam et saepe reiciendis voluptatem adipisci\nsit amet autem assumenda provident rerum culpa\nquis hic commodi nesciunt rem tenetur doloremque ipsam iure\nquis sunt voluptatem rerum illo velit', '2021-06-08 16:20:04.031704'), (1, 5, 'Chris', 'Ferguson', 'silverostrich434', '1992-08-20', 'nesciunt quas odio', 'repudiandae veniam quaerat sunt sed\nalias aut fugiat sit autem sed est\nvoluptatem omnis possimus esse voluptatibus quis\nest aut tenetur dolor neque', '2021-06-07 20:42:02.031706'), (1, 6, 'Chris', 'Ferguson', 'silverostrich434', '1992-08-20', 'dolorem eum magni eos aperiam quia', 'ut aspernatur corporis harum nihil quis provident sequi\nmollitia nobis aliquid molestiae\nperspiciatis et ea nemo ab reprehenderit accusantium quas\nvoluptate dolores velit et doloremque molestiae', '2021-06-07 22:58:14.031708'), (1, 7, 'Chris', 'Ferguson', 'silverostrich434', '1992-08-20', 'magnam facilis autem', 'dolore placeat quibusdam ea quo vitae\nmagni quis enim qui quis quo nemo aut saepe\nquidem repellat excepturi ut quia\nsunt ut sequi eos ea sed quas', '2021-06-07 23:23:02.031710'), (1, 8, 'Chris', 'Ferguson', 'silverostrich434', '1992-08-20', 'dolorem dolore est ipsam', 'dignissimos aperiam dolorem qui eum\nfacilis quibusdam animi sint suscipit qui sint possimus cum\nquaerat magni maiores excepturi\nipsam ut commodi dolor voluptatum modi aut vitae', '2021-06-08 13:33:00.031712')  ... displaying 10 of 90 total bound parameter sets ...  (9, 89, 'Justin', 'Roy', 'whitepeacock882', '1981-07-25', 'sint soluta et vel magnam aut ut sed qui', 'repellat aut aperiam totam temporibus autem et\narchitecto magnam ut\nconsequatur qui cupiditate rerum quia soluta dignissimos nihil iure\ntempore quas est', '2021-06-07 20:41:08.031938'), (9, 90, 'Justin', 'Roy', 'whitepeacock882', '1981-07-25', 'ad iusto omnis odit dolor voluptatibus', 'minus omnis soluta quia\nqui sed adipisci voluptates illum ipsam voluptatem\neligendi officia ut in\neos soluta similique molestias praesentium blanditiis', '2021-06-08 11:16:08.031940'))]
(Background on this error at: http://sqlalche.me/e/14/gkpj)

## Warning
* Pandas has its native method df.to_sql. In general this is not a good way to interact with RDBMS. Afterall, Pandas is at best used for processing and analysis. When it comes to database interaction, people have been claiming Pandas is very slow.
* Another issue of Pandas is it might not be a good fit for big data. We will talk about how to handle big data in some other time.
* You might notice that I have used pd.read_sql() in several situations. Be aware that the return query can be very large. So best practice, remember to add LIMIT in "SELECT * FROM ...LIMIT".

# Next
## Error handling, error handling, error handling
## Pipeline, orchestration
## Big data