In [1]:
from sqlalchemy import MetaData
metadata = MetaData()

In [2]:
from datetime import datetime
from sqlalchemy import Table, Column, Integer, Numeric, String, ForeignKey, DateTime
from sqlalchemy import create_engine

In [3]:
# in memory
engine = create_engine('sqlite:///:memory:')

In [4]:
cookies = Table('cookies', metadata,
    Column('cookie_id', Integer(), primary_key=True),
    Column('cookie_name', String(50), index=True),
    Column('cookie_recipe_url', String(255)),
    Column('cookie_sku', String(55)),
    Column('quantity', Integer()),
    Column('unit_cost', Numeric(12, 2))
)

In [5]:
users = Table('users', metadata,
    Column('user_id', Integer(), primary_key=True),
    Column('username', String(15), nullable=False, unique=True),
    Column('email_address', String(255), nullable=False),
    Column('phone', String(20), nullable=False),
    Column('password', String(25), nullable=False),
    Column('created_on', DateTime(), default=datetime.now),
    Column('updated_on', DateTime(), default=datetime.now, onupdate=datetime.now)
)

In [6]:
orders = Table('orders', metadata,
    Column('order_id', Integer(), primary_key=True),
    Column('user_id', ForeignKey('users.user_id')),
)

line_items = Table('line_items', metadata,
    Column('line_items_id', Integer(), primary_key=True),
    Column('order_id', ForeignKey('orders.order_id')),
    Column('cookie_id', ForeignKey('cookies.cookie_id')),
    Column('quantity', Integer()),
    Column('extended_cost', Numeric(12, 2))
)

In [7]:
# persistent the tables associated with the metadata
metadata.create_all(engine)

In [8]:
# view schema
show_tables = metadata.tables.keys()
show_tables

dict_keys(['cookies', 'users', 'orders', 'line_items'])

In [9]:
# view schema cont'd
some_table = Table("cookies", metadata, autoload_with=engine)
some_table
Table("cookies", metadata, autoload_with=engine).columns.values()

# autoload is optional
# Table("cookies", metadata).columns.values()

[Column('cookie_id', Integer(), table=<cookies>, primary_key=True, nullable=False),
 Column('cookie_name', String(length=50), table=<cookies>),
 Column('cookie_recipe_url', String(length=255), table=<cookies>),
 Column('cookie_sku', String(length=55), table=<cookies>),
 Column('quantity', Integer(), table=<cookies>),
 Column('unit_cost', Numeric(precision=12, scale=2), table=<cookies>)]

In [11]:
# verify using legacy sql method (sqlite show schema is a bit ugly)
sql_str = """
SELECT sql FROM sqlite_master WHERE name='cookies';
"""
results = engine.execute(sql_str)
results.fetchall()

[('CREATE TABLE cookies (\n\tcookie_id INTEGER NOT NULL, \n\tcookie_name VARCHAR(50), \n\tcookie_recipe_url VARCHAR(255), \n\tcookie_sku VARCHAR(55), \n\tquantity INTEGER, \n\tunit_cost NUMERIC(12, 2), \n\tPRIMARY KEY (cookie_id)\n)',)]

In [12]:
# sqlalchemy with pandas (note: there is no data yet)
table_df = pd.read_sql_table(
    "cookies",
    con=engine
)
table_df

Empty DataFrame
Columns: [cookie_id, cookie_name, cookie_recipe_url, cookie_sku, quantity, unit_cost]
Index: []

In [13]:
# note the pd.read_sql_table didn't reserve schema data type 
table_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 0 entries
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   cookie_id          0 non-null      int64
 1   cookie_name        0 non-null      object
 2   cookie_recipe_url  0 non-null      object
 3   cookie_sku         0 non-null      object
 4   quantity           0 non-null      int64
 5   unit_cost          0 non-null      object
dtypes: int64(2), object(4)
memory usage: 0.0+ bytes

# Psrt II connect to an existing database remotely (MySQL)
note: need to update engine (aka the connection)

In [22]:
host = "sql450.main-hosting.eu"
db = "u820202695_dev1"
user = "u820202695_root"
passwd = "Root0000"

sql_str = """
select * from first_test
limit 2;
"""

# the syntax is mysql+pymysql://<user>:<password>@<host>[:<port>]/<dbname>
conn_para = f"mysql+pymysql://{user}:{passwd}@{host}/{db}" 
engine_remote = create_engine(conn_para, pool_recycle=3600, pool_pre_ping=True)
my_data = pd.read_sql(sql_str,engine_remote)
my_data

   recipe_id     recipe_name
0          3  Grilled Cheese
1          1           Tacos

In [25]:
# or pd.read_sql_table
table_df = pd.read_sql_table(
    "first_test",
    con=engine_remote
)
table_df

   recipe_id     recipe_name
0          3  Grilled Cheese
1          1           Tacos
2          2     Tomato Soup

In [16]:
# view schema from existing metadata
metadata_remote = MetaData()
metadata_remote.reflect(bind=engine_remote)

show_tables = metadata_remote.tables.keys()
show_tables

# view schema of the "1st" table
table_1st = list(show_tables)[0]
Table(table_1st, metadata, autoload_with=engine_remote).columns.values()

[Column('recipe_id', INTEGER(display_width=11), table=<first_test>, primary_key=True, nullable=False),
 Column('recipe_name', VARCHAR(collation='utf8mb4_unicode_ci', length=30), table=<first_test>, nullable=False)]

In [17]:
# verify using legacy sql method
sql_str = """
describe first_test;
"""
results = engine_remote.execute(sql_str)
# results.fetchall()
# results.keys()
pd.DataFrame(data=results.fetchall(), columns=results.keys())

         Field         Type Null  Key Default Extra
0    recipe_id      int(11)   NO  PRI    None
1  recipe_name  varchar(30)   NO  UNI    None

In [19]:
# note: the 
some_table = Table("cookies", metadata, autoload_with=engine)
some_table
Table("cookies", metadata, autoload_with=engine).columns.values()

[Column('cookie_id', Integer(), table=<cookies>, primary_key=True, nullable=False),
 Column('cookie_name', String(length=50), table=<cookies>),
 Column('cookie_recipe_url', String(length=255), table=<cookies>),
 Column('cookie_sku', String(length=55), table=<cookies>),
 Column('quantity', Integer(), table=<cookies>),
 Column('unit_cost', Numeric(precision=12, scale=2), table=<cookies>)]

In [20]:
some_table = Table("cookies", metadata)
some_table
Table("cookies", metadata).columns.values()

[Column('cookie_id', Integer(), table=<cookies>, primary_key=True, nullable=False),
 Column('cookie_name', String(length=50), table=<cookies>),
 Column('cookie_recipe_url', String(length=255), table=<cookies>),
 Column('cookie_sku', String(length=55), table=<cookies>),
 Column('quantity', Integer(), table=<cookies>),
 Column('unit_cost', Numeric(precision=12, scale=2), table=<cookies>)]

In [27]:
# persistent table
# this time persistent tables associated with metadata (e.g., cookies, line_items, orders, users)
# to remote database
metadata.create_all(engine_remote)

In [28]:
# refresh the metadata (aka reflect)
metadata_remote.reflect(bind=engine_remote)

show_tables = metadata_remote.tables.keys()
show_tables

dict_keys(['first_test', 'cookies', 'line_items', 'orders', 'users'])